@import '../../styles/common.scss';

.profit {
  @include flex-column(flex-start, center, 40);

  height: 100vh;
  background-color: $beige;
  background-position: center;
  background-size: cover;

  &__wrap {
    @include verticalPadding(40);

    @include flex-column(flex-start, center, $gap: 80);
    @include maxWidth(600) {
      @include verticalPadding(30);
      @include flex-column(center, flex-start, 40);
    }

    @include maxWidth(400) {
      @include flex-column(center, flex-start, 30);
    }
  }

  .profit__title, .profit__subtitle {
    text-align: center;
    @include maxWidth(600) {
      text-align: left;
    }
  }

  &__photos {
    @include flex-row(center, $gap: 20);
  }

  &__two-photos-section {
    @include flex-column(center, $gap: 20);
  }

  &__photo {
    border-radius: 15px;
  }

  &__button-sun {
    @include maxWidth(600) {
      width: 90px;
      height: 90px;
    }

    @include maxWidth(400) {
      width: 70px;
      height: 70px;
    }
  }
}
