@import '../../styles/common.scss';

// стили как в artists
// todo: объединить

.products {
  @include flex-column(flex-start, center, 40);
  @include verticalPadding(40);
  @include horizontalPadding(60);

  background-color: $white;

  @include maxWidth(1200) {
    @include horizontalPadding(30);
  }

  @include maxWidth(992) {
    @include horizontalPadding(40);
  }

  @include maxWidth(600) {
    @include verticalPadding(30);
    @include horizontalPadding(15);

    @include flex-column(flex-start, center, 30);
  }

  @include maxWidth(480) {
    @include flex-column(flex-start, center, 15);
  }

  &__title {
    width: 100%;
  }

  &__table {
    display: grid;
    gap: 40px;

    width: 100%;

    @include maxWidth(1200) {
      gap: 20px;
    }

    @include maxWidth(1000) {
      gap: 10px;
    }

    @include maxWidth(992) {
      gap: 20px;
    }

    @include maxWidth(480) {
      gap: 15px;
    }

    &--2 {
      grid-template-columns: repeat(2, 1fr);
    }

    &--3 {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__table-column {
    @include flex-column(flex-start, center, 150);
  
    padding-top: 160px;

    @include maxWidth(1200) {
      @include flex-column(flex-start, center, 100);

      padding-top: 120px;
    }

    @include maxWidth(600) {
      @include flex-column(flex-start, center, 60);

      padding-top: 90px;
    }

    &--second {
      gap: 100px;
      padding-top: 0px;

      @include maxWidth(1200) {
        gap: 75px;
        padding-top: 0px;
      }

      @include maxWidth(600) {
        gap: 45px;
      }
    }

    &--third {
      padding-top: 80px;

      @include maxWidth(1200) {
        padding-top: 60px;
      }
    }
  }
}
