@import '../../styles/common.scss';

.first {
  @include flex-column(flex-start, center);
  height: calc(100vh - 90px);
  @include maxWidth(992) {
    height: calc(100vh - 60px);
  }
  background-color: $white;

  &__wrap {
    height: 100%;
    @include verticalPadding(40);
    @include flex-column(center, $gap: 40);
  
    @include maxWidth(600) {
      @include verticalPadding(30);
      @include flex-column(center, $gap: 20);
    }
  }

  .first__title, .first__subtitle {
    text-align: center;
    @include horizontalPadding(15);
  }

  &__subtitle {
    @include horizontalPadding(120);
    @include maxWidth(1200) {
      @include horizontalPadding(60);
    }
    @include maxWidth(1024) {
      @include horizontalPadding(30);
    }
    @include maxWidth(400) {
      @include horizontalPadding(15);
    }
  }

  &__image-slider {
    width: 100%;
    height: 200px;
    background-color: rgb(222, 211, 211);
  }
}
