@import '../../../styles/common.scss';

.product-card {
  @include flex-row(flex-start, start, 40);
  @include verticalPadding(40);
  @include horizontalPadding(60);

  @include maxWidth(1200) {
    @include horizontalPadding(30);
  }

  @include maxWidth(992) {
    @include horizontalPadding(40);
  }

  @include maxWidth(600) {
    @include verticalPadding(30);
    @include horizontalPadding(15);
    @include flex-column(flex-start, start, 30);
  }

  &__right-side {
    @include flex-column(start, end, $gap: 90);
    width: 100%;

    @include maxWidth(992) {
      @include flex-column(start, end, $gap: 50);
    }

    @include maxWidth(600) {
      @include flex-column(start, end, $gap: 30);
    }
  }

  &__info {
    @include flex-column(start, $gap: 30);
    width: 100%;
  }

  &__images {
    @include flex-column(flex-start, start, 20);

    max-width: 500px;

    .layout {
      gap: 5px;
    }

    .layout .gallery__image {
      max-width: 50px;
      max-height: 50px;
    }

    @include maxWidth(992) {
      max-width: 300px;
    }

    @include maxWidth(600) {
      max-width: 100%;
    }
  }

  &__img {
    width: 100%;
    height: auto;
  }

  &__bread-crumbs {
    text-transform: uppercase;
  }

  &__main-info {
    @include flex-row(space-between, center, 30);

    width: 100%;
  }

  &__price {
    white-space: nowrap;
    color: $blue;
  }

  &__author {
    color:$grey !important;
  }
}
